#refresher-container {
  width: calc(100vw - 20px);
  height: calc(100vh - 20px);
  font-size: 3rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

#vocab-display, #no-vocab {
  width: 80vw;
  display: none;
}

#footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 4rem;
  font-size: 1.5rem;
}

#total-count {
  float: right;
  margin: 20px;
}

#button-container {
  text-align: center;
  margin: 40px;
}

#refresh-btn {
  width: 8rem;
  height: 2.5rem;
}

#refresh-svg-container:hover {
  cursor: pointer;
  transform: rotate(180deg);
  transition: all 0.2s ease-in-out 0.2s;
}

#vocab-original{
  font-size: 4rem;
  font-weight: 500;
}

.dict-type {
  font-size: 2rem;
  margin: 20px 20px 20px 0px;
}

.dict-content {
  font-size: 2rem;
  margin: 20px 40px 20px 0px;
}