body {
  overflow: hidden;
  margin: 0px;
  padding: 0px;
}

table td {
  vertical-align: top;
}

#translate-container {
  margin: 0px;
  padding: 0px;
}

#translate-header {
  width: 100%;
  height: 16px;
  background: #004AAD;
}

#close-btn {
  height: 14px;
  width: 14px;
  margin: 1px 5px 0px 0px;
  float: right;
}

#close-btn > svg {
  fill: #F0F0F0;
}

#close-btn:hover {
  cursor: pointer;
}

#close-btn:hover > svg {
  fill: #FEFEFE
}

#translate-content {
  margin: 0px 6px;
  padding: 0px;
  font-size: 12px;
  vertical-align: middle;
  user-select: none;
}

.translation-svg-icon {
  margin: 4px 0px 0px 0px;
}

.translate-entry {
  margin:4px 0px;
}

.translate-seperate-line {
  border-bottom: 1px solid #707070;
  width: 100%;
  margin: 2px 0px;
}

#sentence {
  font-size: 16px;
  max-width: 600px;
  white-space: normal;
  font-weight: 600;
}

#dict {
  font-size: 12px;
  font-weight: 600;
}

#examples {
  font-size: 12px;
  font-weight: 400;
}

.error {
  background-color: lightpink;
  text-align: center;
}

button {
  width: 20px;
  height: 20px;
  margin: 0px 8px;
  padding: 0px;
  border: none;
  border-radius: 10px;
  vertical-align: middle;
  outline: 0;
  cursor: pointer;
}

button svg:hover {
  stroke: #2699FB;
}
#translate-button-group {
  margin: 10px 5px;
  text-align: right;
}

.hide {
  display: none;
}