body {
  margin: 0px;
  padding: 0px;
}

#vocab-container {
  position: relative;
  display: flex;
  flex-direction: column;
}
#control-btns-header {
  height: 60px;
  display: flex;
  justify-content: space-between;
}

.header-btn-group {
  margin: 0px 15px
}
.btn-header {
  width: 40px;
  height: 60px;
  transition: transform 0.3s ease-in-out;
}

.btn-header:active .svg-path {
  fill: #FEFEFE;
}

.btn-header:hover {
  transform: scale(1.3);
}

table {
  width: 100%;
  border-collapse: collapse;
  font-size: 18px;
}

table, th, td {
  border: 1px solid black;
}

th.high-light {
  background-color: #fcf6bd;
}

th, td {
  padding: 0px 10px;
  margin: 0px;
  height: 40px;
  text-align: left;
  position: relative;
}

td input {
  height: 40px;
  width: 100%;
  padding: 0px 5px;
  font-size: 18px;
  border: none;
}

td button {
  margin: 0px 5px;
}

.translate-table-cell {
  padding: 0px;
}

tr:nth-child(even) {
  background-color: #f2f2f2;
}

tr:nth-child(even) input {
  background-color: #f2f2f2;
}

th {
  cursor: zoom-in;
}

tr {
  cursor: pointer;
}

tbody tr.selected {
  background-color: #d8f3dc;
}

tbody tr input.selected {
  background-color: #d8f3dc;
}

tr.strikeout td:before {
  content: " ";
  position: absolute;
  top: 50%;
  left: 0;
  border-bottom: 1px solid #111;
  width: 100%;
}

.input-disable {
  pointer-events: none !important;
}

.input-enable {
  background-color: #d8f3dc !important;
}

#control-btns-header {
  margin: 0px;
  padding: 0px;
  background-color: #004AAD;
}

.vh-sep {
  margin: 0px 10px;
  border-left: 2px solid #F0F0F0;
  height: 35px;
  display: inline-block;
}

.header-count {
  margin: 0px 15px;
  line-height: 60px;
  font-size: 24px;
  color: #F0F0F0;
}

.no-display {
  display: none;
}

.main {
  margin: 5px;
  overflow-x: hidden;
  overflow-y: auto;
}

.opacity-full {
  opacity: 1;
}

#toaster {
  opacity: 0;
  min-width: 250px;
  margin: 0px;
  background-color: #fcf6bd;
  text-align: center;
  border-radius: 3px;
  border: 1px solid #f0f0f0;
  padding: 8px;
  position: absolute;
  z-index: 1;
  width: 20%;
  left: 40%;
  top: 40%;
  font-size: 18px;
  box-shadow: 3px 3px 3px #e0e0e0;
}

#toaster button {
  width: 70px;
}

#toaster-msg.info {
  color: darkgreen;
}

#toaster-msg.error {
  color: crimson;
}

#toaster-buttons {
  margin: 8px 0px 0px 0px;
}

#toaster.show {
  visibility: visible;
  animation: fadein 0.5s forwards;
}

#toaster.hide {
  animation: fadeout 0.5s forwards;
}

@keyframes fadein {
  from {top: 0px; opacity: 0;}
  to {top: 10%; opacity: 1;}
}

@keyframes fadeout {
  from {top: 10%; opacity: 1;}
  to {top: 0px; opacity: 0;}
}
