html {
  scroll-behavior: smooth;
}

#title {
  font-size: 1.5rem;
}

.hide {
  display: none;
}

.show {
  display: flex;
}

#example-container {
  flex-direction: column;
  position: fixed;
  top: 10vh;
  width: 60vw;
  left: 20vw;
  box-shadow: 5px 5px 5px gray;
  border-radius: 8px;
  overflow: hidden;
  z-index: 1;
}

#example-header {
  background-color: #004AAD;
}

#example-close {
  float: right;
  font-size: 1.5rem;
  color: #F0F0F0;
  margin: 0px 10px;
  cursor: pointer;
}

#example-close:hover {
  color: #FFFFFF
}

table {
  table-layout: fixed;
  border-collapse: collapse;
  width: 100%;
  font-size: 1rem;
}

table, th, td {
  border: 1px solid black;
}

th:nth-child(n+1):nth-child(-n+2), td:nth-child(n+1):nth-child(-n+2) {
  width: 120px;
}

td:nth-child(n+1):nth-child(-n+2) {
  text-align: center;
  vertical-align: top;
}

th:not(:nth-child(n+1):nth-child(-n+2)), td:not(:nth-child(n+1):nth-child(-n+2)) {
  width: auto;
}

td .small-cell {
  margin: 1rem 0rem;
}

td .version {
  font-weight: bold;
}

td ul {
  margin: 1rem 0rem;
}

.release-item {
  display: flex;
  align-items: center;
  justify-content: start;
}

.click-here {
  margin: 0px 0.5rem;
  width: 1.2rem;
  cursor: pointer;
}

.click-here:hover {
  animation: point .5s infinite alternate;
	transform-origin: right;
}

@keyframes point{
	to {
    transform: translateX(-0.25rem);
  }
}
