#title {
  font-size: 1.5rem;
}

.hide {
  display: none;
}

.show {
  display: flex;
}

#example-container {
  flex-direction: column;
  position: fixed;
  top: 10vh;
  width: 60vw;
  left: 20vw;
  box-shadow: 5px 5px 5px gray;
  border-radius: 8px;
  overflow: hidden;
}

#example-header {
  background: lightblue;
}

#example-close {
  float: right;
  font-size: 1.5rem;
  margin: 0px 10px;
  cursor: pointer;
}

table {
  table-layout: fixed;
  border-collapse: collapse;
  width: 100%;
  font-size: 1rem;
}

table, th, td {
  border: 1px solid black;
}

th:first-child, td:first-child {
  width: 80px;
}

td:first-child {
  text-align: center;
  vertical-align: top;
  font-weight: bold;
}

th:not(:first-child), td:not(:first-child) {
  width: auto;
}

td .version {
  margin: 1rem 0rem;
}
td ul {
  margin: 1rem 0rem;
}

.release-item {
  display: flex;
  align-items: center;
  justify-content: start;
}

.click-here {
  margin: 0px 0.5rem;
  width: 1.2rem;
  cursor: pointer;
}

/* td img {
  width: min(80%, 600px);
  display: block;
} */
